---
title: Code of Conduct
og_title: Code of Conduct | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for an evening with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleNavigation">
    <nav class="navRow">
      <a href="/pwlconf2016" class="navLink">&larr; Back to About</a>
      <a href="/pwlconf2016">
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
      </a>
    </nav>
  </section>
  <section class="articleTextContent">
    <h1 id="pwlconf-code-of-conduct">PWLConf Code of Conduct</h1>
    <p>All attendees, speakers, exhibitors, organizers, contributors and volunteers are required to conform to the following Code of Conduct.</p>
    <p><em>PWLConf</em> is for anyone interested in Computer Science/Computer Engineering, its history, and related fields to discuss academic research in a fun, engaging and respectful environment.</p>
    <p><strong>Be an adult, don't be a jerk.</strong></p>
    <p>We value the participation of each member of the community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference, related social events, and throughout all events and interactions on the GitHub repository, IRC, or <a href="https://paperswelove.slack.com/">Slack</a> channels, including obeying the conference policy on photography below.</p>
    <h3 id="need-help">Need help?</h3>
    <p>If you are experiencing harassment on or have concerns about content, including within the <a href="https://github.com/papers-we-love/papers-we-love">GitHub repo</a>, the <strong>#paperswelove</strong> IRC channel on Freenode, the <strong>paperswelove.slack.com</strong> Slack, <a href="http://paperswelove.org">PapersWeLove.org</a> or <a href="http://pwlconf.org">PWLConf.org</a> please contact:</p>
    <ul>
      <li><strong>Zeeshan Lakhani</strong> <script type="text/javascript">
                                            <!--
                                                                          h='&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#122;&#x65;&#x65;&#x73;&#104;&#x61;&#110;';e=n+a+h;
                                            document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
                                            // -->
      </script><noscript>&#122;&#x65;&#x65;&#x73;&#104;&#x61;&#110;&#32;&#x61;&#116;&#32;&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript></li>
      <li><strong>Clint Newsom</strong> <script type="text/javascript">
                                         <!--
                                                                       h='&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#x63;&#108;&#x69;&#110;&#116;';e=n+a+h;
                                         document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
                                         // -->
      </script><noscript>&#x63;&#108;&#x69;&#110;&#116;&#32;&#x61;&#116;&#32;&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript></li>
      <li><strong>Jeremy Heiler</strong> (Github) <script type="text/javascript">
                                                   <!--
                                                                                 h='&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#106;&#x65;&#114;&#x65;&#x6d;&#x79;';e=n+a+h;
                                                   document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
                                                   // -->
      </script><noscript>&#106;&#x65;&#114;&#x65;&#x6d;&#x79;&#32;&#x61;&#116;&#32;&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript></li>
      <li><strong>Darren Newton</strong> (paperswelove.org) <script type="text/javascript">
                                                             <!--
                                                                                           h='&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#100;&#x61;&#114;&#114;&#x65;&#110;';e=n+a+h;
                                                             document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
                                                             // -->
      </script><noscript>&#100;&#x61;&#114;&#114;&#x65;&#110;&#32;&#x61;&#116;&#32;&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript></li>
      <li><strong>All</strong> <script type="text/javascript">
                                <!--
                                                              h='&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#46;&#x6f;&#114;&#x67;';a='&#64;';n='&#x63;&#x6f;&#110;&#116;&#x61;&#x63;&#116;';e=n+a+h;
                                document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'" clas'+'s="em' + 'ail">'+e+'<\/'+'a'+'>');
                                // -->
      </script><noscript>&#x63;&#x6f;&#110;&#116;&#x61;&#x63;&#116;&#32;&#x61;&#116;&#32;&#112;&#x61;&#112;&#x65;&#114;&#x73;&#x77;&#x65;&#108;&#x6f;&#118;&#x65;&#32;&#100;&#x6f;&#116;&#32;&#x6f;&#114;&#x67;</noscript></li>
    </ul>
    <p>The organizers of <em>PWLConf</em> are available to help you with any issues or concerns.</p>
    <h3 id="what-it-means">What it means</h3>
    <p>Papers We Love is dedicated to providing a harassment-free experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference attendees or other event participants in any form.</p>
    <p>All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate at the conference, including as part of talks or at related social gatherings.</p>
    <p>Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for Papers We Love.</p>
    <p>Attendees violating these rules may be asked to leave the conference at the sole discretion of the organizers, and will forfeit their ticket.</p>
    <p>Thank you for helping make this a welcoming, friendly event for all.</p>
    <h3 id="spelling-it-out">Spelling it out</h3>
    <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p>Contributors to the conference, event-related sites, and/or our interactive channels (Github repository, Slack, IRC), sponsors or similar, are also subject to the anti-harassment policy. Organizers (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
    <p><em>PWLConf</em> shares space with Strange Loop, and attendees are expected to follow their <a href="http://www.thestrangeloop.com/policies.html">policies</a> as well.</p>
    <h3 id="photo-policy">Photo policy</h3>
    <p>Three colors of lanyards are provided. Green means it is okay for photographers to take pictures of you. Yellow means photographers should ask permission. Red means photos are not okay; please do not take photos of anyone wearing a red lanyard. All attendees, organizers, volunteers, sponsors, and speakers will have these lanyards available to them. If no lanyard is visible, yellow will be assumed. Official Papers We Love photographers will avoid taking any pictures of anyone wearing a red lanyard, and ask permission of anyone wearing a yellow lanyard.</p>
    <p>Since it is not possible to always correctly identify lanyards (including that sometimes people take them off), photos will not be published if there are red or yellow lanyards visible, or if it’s ambiguous as to someone’s preference. Do not publish identifiable photos of people wearing red lanyards or those wearing yellow lanyards from whom you did not receive permission. Follow the same rules for speakers: if their lanyard is visible, please abide by the preference expressed. If not visible, assume that pictures are not ok unless you've asked them.</p>
    <p>Anyone in a photograph published by <em>PWLConf</em> can ask to be made unidentifiable in that published photograph.</p>
    <p>Any attendee, organizer, volunteer, sponsor, or speaker who takes photos are asked to abide by this policy.</p>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="http://paperswelove.org">@paperswelove_conf</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
