<article class="chapter">
    <section class="primary">
        <h1>New York Chapter</h1>
        <p>The New York Chapter of meets monthly in the Flatiron District at <a href="http://maps.google.com/maps?f=q&hl=en&q=40.739433,-73.989240">Viggle</a> - 902 Broadway, 11<sup>th</sup> floor, New York, NY </p>
        <p>Please RSVP for meetings on <a href="http://www.meetup.com/papers-we-love/">Meetup.com</a>.</p>
        <img src="http://photos1.meetupstatic.com/photos/event/a/7/0/0/highres_358182752.jpeg" />
    </section>
    <section class="secondary">
        <h2>Chapter details</h2>
        <p>
            <strong>Location:</strong>
            <a href="http://maps.google.com/maps?f=q&hl=en&q=40.739433,-73.989240">Viggle</a> - 902 Broadway, 11th floor
        </p>
        <p>
            <strong>Sign-up:</strong>
            Please RSVP for meetings via <a href="http://www.meetup.com/papers-we-love/">Meetup.com</a>
        </p>
        <p>
            <strong>Twitter:</strong>
            <a href="https://twitter.com/paperswelovenyc">@paperswelovenyc</a>
        </p>
        <p>
            <strong>Organizers:</strong>
            <a href="https://twitter.com/bowmanb">Brian Bowman</a>, <a href="https://twitter.com/CuevasClemente">Clemente Cuevas</a>, <a href="https://twitter.com/jeremyheiler">Jeremy Heiler</a>, <a href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a>, <a href="https://twitter.com/clint_newsom">Clint Newsom</a> and <a href="https://twitter.com/d_run">Darren Newton</a>
        </p>
        <h2>Sponsors</h2>
        <p class="sponsor">
            <a href="http://viggleinc.com"><img src="http://gadgetnerdly.com/wp-content/uploads/2012/06/logo_viggle.png" /></a>
            Venue sponsor
        </p>
        <p class="sponsor"><a href="http://tech.beatport.com/"><img src="http://sfxii.com/wp-content/uploads/2013/07/Beatport.png" /></a>
        Food/Beer sponsor</p>

    </section>
</article>
