// Article
// =======

.article {
  h1 {
    font-size: 2.0em;
  }

  h2 {
    margin: 0 0 .8em 0;
    font-size: 1.6em;
  }

  h3 {
    margin: .8em 0;
    font-size: 1.2em;
  }

  @extend %text;

  ul {
    margin-left: 0;
    padding-left: 2em;
    li {
      margin-left: 0;
      padding: .3em 0;
      list-style-type: circle;
    }
  }

  a {
    text-decoration: none;
    color: $blue;
    &:hover {
      color: $blue-link;
      text-decoration: underline;
    }
  }

  hr {
    height: 1px;
    margin: 1em 0;
    border-width: 0;
    border-top: #eee 1px solid;
  }

}

iframe.video {
  width: 100%;
  min-height: 315px;
  border: #fff 4px solid;
  box-shadow: #999 0 0 3px 0;
  margin: 1em 0;
}

@include media($desktop) {
  iframe.video {
    min-height: 516px;
  }
}

.entry-meta {
  font-family: $sans;
}

.article .entry-meta .meta-label {
  @include media($desktop) {
    display: inline-block;
  }
  padding: 4px 10px 2px 10px;
  margin: 0 .6em 0 0;
  border-radius: 3px;
  color: #fff;
  background-color: #ccc;
  text-decoration: none;
  &:hover {
    background-color: $blue-link;
  }
}

.article .entry-meta .meta-text {
  display: block;
  margin: 1em 0 0 0;
  @include media($desktop) {
    display: inline;
    margin: 0;
  }
}

.article .entry-meta .meta-presenter a {
  color: $blue-link;
  &:hover {
    color: $blue;
  }
}

.meta-date,
.meta-presenter {
  color: #666;
}

article.article {
  @include outer-container;
  padding: 0 1.4em 2em 1.4em;

  @include media($desktop) {
    padding: 0 0 2em 0;
  }
}

footer.article-metadata {
  display: block;
  clear: both;
  font-family: $sans;
  padding: 1em 0 0 0;
  em {
    color: #999;
    padding: 0 0 0 0.8em;
    &:first-child {
      padding: 0;
    }
    font-style: normal;
  }
  a {
    color: $blue-link;
  }
}

img.left {
  float: left;
  display: inline-block;
  margin: 0 1em 1em 0 !important;
}

img.no-shadow {
  box-shadow: 0 0 #fff !important;
}

img.sponsor {
  margin: .5em 0 .5em 0 !important;
  max-width: 200px;
  display: block;
}

p.chapter-sponsor {
  font-family: $sans;
  text-align: center;
  display: inline-block;
  color: #999;
  a {
    display: block;
  }
}

p.chapter-sponsor-thanks {
  font-family: $sans;
  margin: 2em 0;
}
