// Badges

%badge {
  display: inline-block;
  padding: 4px 10px 2px 10px;
  margin: 0 .6em 0 0;
  border-radius: 3px;
  text-decoration: none;
  font-family: $sans;
  background-color: #ccc;
  color: #fff;
  &:hover {
    background-color: $blue-link;
  }
}

%text {

  p {
    margin: 1em 0;
    font-size: 1.2em;
    line-height: 140%;
    color: #333;

    a {
      text-decoration: none;
      color: $blue-link;
      &:hover {
        color: $blue-link;
        text-decoration: underline;
      }
    }

    img {
      border: #fff 4px solid;
      box-shadow: #999 0 0 3px 0;
      display: inline-block;
      text-align: center;
      width: auto;
      margin: 1em;
    }
  }

  blockquote {
    border-left: #eee 4px solid;
    margin-left: 0;
    padding-left: 1.4em;
    p {
      color: #666;
    }
  }

  @include media($desktop) {
    p {
      font-size: 1.1em;
    }
  }

}


body {
  margin: 0;
  padding: 0;
  font-family: $serif;
  text-rendering: optimizeLegibility;
  @include media($desktop) {
    padding: 0 4em;
  }
}

// Top Navigation
// ==============
.nav-top {
  @include outer-container;

  @include media($desktop) {
    border-bottom: #ddd 1px solid;
  }

  .nav-top-img {
    @include span-columns(4);
    text-align: center;

    img {
      margin: 1em 0 0 0;
      padding: 0;
    }

    @include media($desktop) {
      @include span-columns(1);
      text-align: left;
      img {
        margin-top: 1.5em;
      }
    }

  }

  nav {
    @include span-columns(4);
    text-align: center;

    @include media($desktop) {
      @include span-columns(3);
      text-align: right;
    }

  }
}

// Horizontal menu
@mixin nav-list-links {
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: $blue-link;
    }
  }
}

@mixin nav-list-horizontal {
  padding: 2em 0;

  li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    border-right: #ddd 1px solid;
    background-color: #fff;

    &:last-child {
      border-right: 0px;
      padding-right: 0;
    }

    &:hover {
      background-color: #fff;
      a {
        color: #666;
      }
    }

    @include nav-list-links;
  }
}

.nav-top-list {
  margin: 0;
  padding: 0;

  li {
    text-align: center;
    list-style-type: none;
    padding: .5em 0;
    margin: 0 0 1px 0;
    background-color: #eee;

    @include nav-list-links;

    &:hover {
      background-color: $blue;
      cursor: pointer;
      a {
        color: #fff;
      }
    }
  }

  @include media($desktop) {
    @include nav-list-horizontal;
  }

}

footer.nav-footer {
  @include outer-container;

  h3 {
    text-align: center;
    font-size: .8em;
    margin: 1em 0;
    padding: 0 1em;
    color: #999;
    font-weight: normal;
    font-style: italic;

    sup {
      font-size: .5em;
      font-style: normal;
      margin-left: 2px;
    }
  }

  @include media($desktop) {
    h3 {
      padding: 0;
      font-size: 1em;
    }
    nav {
      border: #eee 1px solid;
      border-left: 0;
      border-right: 0;
      margin-top: 2em;
    }
    .nav-footer-list {
      text-align: center;
      padding: 1em 0;
    }
  }
}

nav.pagination-controls {
  margin: 1em 0;
  padding: .5em 1.5em;
  display: flex;
  flex-direciton: row;
  justify-content: row;
  background: #eee;
  border-radius: 1em;
  a {
    text-decoration: none;
    color: $blue-link;
    &:hover {
      color: $blue-link;
      text-decoration: underline;
    }
  }
}

p.pagination-count {
  @include flex(1);
  color: #666;
  em {
    font-style: normal;
    color: #000;
  }
}

p.pagination-prev {
  @include flex(2);
  text-align: right;
}

p.pagination-next {
  @include flex(2);
  text-align: right;
}

// PWLConf Banner


$color-darkblue: #003366;
$color-lightblue: #B4D6E4;
$color-mediumblue: #7F99B3;
$color-white: #fff;
$color-text: #6B6B6B;
$color-pink: #F605C9;

.pwlConfBanner {
  @include outer-container;
  margin-top: 1em;
  background: $color-lightblue;
  @include media($desktop-banner) {
    background-image: url(../images/pwl_conf_banner.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }
  padding: 2em;
}

.bannerRow {
  display: flex;
  justify-content: space-between;

  a {
    color: $color-darkblue;
    text-decoration: none;
    &:hover {
      color: $color-pink;
    }
  }

  p {
    margin: 0;
    font-size: .8em;
    font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
    @include media($desktop) {
      font-size: 1.1em;
    }
  }
}

.imgPwlConfLogo {
  height: 100px;
}

h2.bannerHeader {
  font-size: 1.2em;
  margin: 0;
  @include media($desktop) {
    margin-top: 18px;
    font-size: 1.6em;
  }
}

.pwlConfSponsors {
  @include outer-container;
  margin-top: 1em;
  text-align: right;
  border-bottom: #eee 1px solid;

  .row {
    padding: .5em 1em;
    text-align: center;
    @include media($desktop) {
      padding: 0 1em 1em 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  a {
    display: block;
    text-align: center;
    @include media($desktop) {
      text-align: right;
    }
  }

  .imgPwlConfSponsor {

  }

  img.droit {
    @include media($desktop) {
      margin-right: 1em;
      margin-top: .5em;
    }
  }

  img.comcast {
    @include media($desktop) {
      margin-right: 1.3em;
    }
  }

  h2.sponsorsHeader {
    flex-grow: 3;
    text-align: center;
    width: 100%;
    color: #999;
    font-size: 1em;
    font-family: $sans;
    font-weight: normal;

    @include media($desktop) {
      font-size: .8em;
      padding-top: .6em;
      padding-left: 2.5em;
      text-align: left;

    }

  }
}
