// Badges

%badge {
  display: inline-block;
  padding: 4px 10px 2px 10px;
  margin: 0 .6em 0 0;
  border-radius: 3px;
  text-decoration: none;
  font-family: $sans;
  background-color: #ccc;
  color: #fff;
  &:hover {
    background-color: $blue-link;
  }
}

%text {

  p {
    margin: 1em 0;
    font-size: 1.2em;
    line-height: 140%;
    color: #333;

    a {
      text-decoration: none;
      color: $blue-link;
      &:hover {
        color: $blue-link;
        text-decoration: underline;
      }
    }

    img {
      border: #fff 4px solid;
      box-shadow: #999 0 0 3px 0;
      display: inline-block;
      text-align: center;
      width: auto;
      margin: 1em;
    }
  }

  blockquote {
    border-left: #eee 4px solid;
    margin-left: 0;
    padding-left: 1.4em;
    p {
      color: #666;
    }
  }

  @include media($desktop) {
    p {
      font-size: 1.1em;
    }
  }

}


body {
  margin: 0;
  padding: 0;
  font-family: $serif;
  text-rendering: optimizeLegibility;
  @include media($desktop) {
    padding: 0 4em;
  }
}

// Top Navigation
// ==============
.nav-top {
  @include outer-container;

  @include media($desktop) {
    border-bottom: #ddd 1px solid;
  }

  .nav-top-img {
    @include span-columns(4);
    text-align: center;

    img {
      margin: 1em 0 0 0;
      padding: 0;
    }

    @include media($desktop) {
      @include span-columns(1);
      text-align: left;
      img {
        margin-top: 1.5em;
      }
    }

  }

  nav {
    @include span-columns(4);
    text-align: center;

    @include media($desktop) {
      @include span-columns(3);
      text-align: right;
    }

  }
}

// Horizontal menu
@mixin nav-list-links {
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: $blue-link;
    }
  }
}

@mixin nav-list-horizontal {
  padding: 2em 0;

  li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    border-right: #ddd 1px solid;
    background-color: #fff;

    &:last-child {
      border-right: 0px;
      padding-right: 0;
    }

    &:hover {
      background-color: #fff;
      a {
        color: #666;
      }
    }

    @include nav-list-links;
  }
}

.nav-top-list {
  margin: 0;
  padding: 0;

  li {
    text-align: center;
    list-style-type: none;
    padding: .5em 0;
    margin: 0 0 1px 0;
    background-color: #eee;

    @include nav-list-links;

    &:hover {
      background-color: $blue;
      cursor: pointer;
      a {
        color: #fff;
      }
    }
  }

  @include media($desktop) {
    @include nav-list-horizontal;
  }

}

footer.nav-footer {
  @include outer-container;

  h3 {
    text-align: center;
    font-size: .8em;
    margin: 1em 0;
    padding: 0 1em;
    color: #999;
    font-weight: normal;
    font-style: italic;
  }

  @include media($desktop) {
    h3 {
      padding: 0;
      font-size: 1em;
    }
    nav {
      border: #eee 1px solid;
      border-left: 0;
      border-right: 0;
      margin-top: 2em;
    }
    .nav-footer-list {
      text-align: center;
      padding: 1em 0;
    }
  }
}
