.chapter {
  @include outer-container;
  @include clearfix;
  padding: 1em;
  @include media($desktop) {
    padding: 0;
    .primary {
      @include span-columns(3);
    }
    .secondary {
      @include span-columns(1);
    }
  }
}

.primary {
  padding: 2em 0 0 0;
  h1 {
    font-size: 2em;
    margin: 0 0 1em 0;
    padding: 0;
  }

  h2 {
    font-size: 1.4em;
    margin: 2em 0 0 0;
    padding: 0 0 .5em 0;
    border-bottom: #ccc 2px solid;
    color: #666;
    font-weight: normal;
  }

  h3 {
    margin: 2em 0 .5em 0;
    padding: 2em 0 0 0;
    border-top: #ddd 1px solid;
    font-size: 1.4em;
  }

  h3:first-of-type {
    margin-top: 0;
    border-top: #fff 0px solid;
  }

  @extend %text;

  span.meta {
    font-family: $sans;
    color: #666;
  }
}

.primary > p > img {
  border: #fff 3px solid;
  box-shadow: #666 0 0 2px 0;
  margin: 0 1em 1em 0;
  float: none;
  width: 100%;
  @include media($desktop) {
    float: left;
    width: 40%;
  }
}


.secondary {
  padding: 2.6em 0 0 0;
  h2 {
    font-size: 1.4em;
    margin: 0 0 1em 0;
    padding: 0 0 .4em 0;
    border-bottom: #ccc 1px solid;
    color: #333;
  }
  @extend %text;
  p {
    @include media($desktop) {
      font-size: 1em;
    }
  }
  p.sponsor {
    font-family: $sans;
    text-align: center;
    color: #999;
    margin-bottom: 2em;
    img {
      display: block;
      float: none;
      width: 100%;
      margin: 0 0 1em 0;
      box-shadow: none;
    }
  }
}
