
@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('../fonts/cmuntt.eot');
  src: url('../fonts/cmuntt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmuntt.woff') format('woff'),
  url('../fonts/cmuntt.ttf') format('truetype'),
  url('../fonts/cmuntt.svg#cmuntt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('../fonts/cmuntb.eot');
  src: url('../fonts/cmuntb.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmuntb.woff') format('woff'),
  url('../fonts/cmuntb.ttf') format('truetype'),
  url('../fonts/cmuntb.svg#cmuntb') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('../fonts/cmunit.eot');
  src: url('../fonts/cmunit.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunit.woff') format('woff'),
  url('../fonts/cmunit.ttf') format('truetype'),
  url('../fonts/cmunit.svg#cmunit') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Typewriter';
  src: url('../fonts/cmuntx.eot');
  src: url('../fonts/cmuntx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmuntx.woff') format('woff'),
  url('../fonts/cmuntx.ttf') format('truetype'),
  url('../fonts/cmuntx.svg#cmuntx') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: url('../fonts/cmunss.eot');
  src: url('../fonts/cmunss.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunss.woff') format('woff'),
  url('../fonts/cmunss.ttf') format('truetype'),
  url('../fonts/cmunss.svg#cmunss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: url('../fonts/cmunsx.eot');
  src: url('../fonts/cmunsx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunsx.woff') format('woff'),
  url('../fonts/cmunsx.ttf') format('truetype'),
  url('../fonts/cmunsx.svg#cmunsx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: url('../fonts/cmunsi.eot');
  src: url('../fonts/cmunsi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunsi.woff') format('woff'),
  url('../fonts/cmunsi.ttf') format('truetype'),
  url('../fonts/cmunsi.svg#cmunsi') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Sans';
  src: url('../fonts/cmunso.eot');
  src: url('../fonts/cmunso.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunso.woff') format('woff'),
  url('../fonts/cmunso.ttf') format('truetype'),
  url('../fonts/cmunso.svg#cmunso') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('../fonts/cmunrm.eot');
  src: url('../fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunrm.woff') format('woff'),
  url('../fonts/cmunrm.ttf') format('truetype'),
  url('../fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('../fonts/cmunbx.eot');
  src: url('../fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunbx.woff') format('woff'),
  url('../fonts/cmunbx.ttf') format('truetype'),
  url('../fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('../fonts/cmunti.eot');
  src: url('../fonts/cmunti.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunti.woff') format('woff'),
  url('../fonts/cmunti.ttf') format('truetype'),
  url('../fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('../fonts/cmunbi.eot');
  src: url('../fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cmunbi.woff') format('woff'),
  url('../fonts/cmunbi.ttf') format('truetype'),
  url('../fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
