// Home: Abstract
// ==============
.home-abstract {
  @include outer-container;

  .home-abstract-shim {
    @include span-columns(4);
  }

  h1 {
    display: none;
  }

  @include media($desktop) {
    h1 {
      display: block;
      margin: 0;
      padding: 1em 0 0.4em 0;
      text-align: center;
      font-size: 3em;
      line-height: 100%;
      color: #333;
      border-radius: 10px;
      a {
        color: $blue-link;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Home: Chapters
// ==============
.home-chapters {
  @include outer-container;

  h1 {
    @include span-columns(4);
    font-size: 0.9em;
    text-align: center;
    color: #ccc;
  }

  .home-chapters-list {
    @include span-columns(4);
    text-align: center;
    margin: 0 0 2em 0;
    padding: 0 0 1em 0;
    border-bottom: #ddd 1px solid;

    li {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 10px;

      a {
        color: #666;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
        font-size: 1.2em;
        &:hover {
          color: $blue-link;
        }
      }
    }
  }
}

@include media($desktop) {
  .home-chapters {
    h1 {
      display: none;
    }
  }
}

// Home Entries
// =============
.home-container {
  @include outer-container;

  section.home-entry {
    padding: 1em;

    footer {
      a {
        font-style: italic;
        &:hover {
          text-decoration: none;
        }
        i {
          color: $blue-link;
        }
      }
    }
  }

  @include media($desktop) {
    section.home-entry {
      padding: 1em 0;
    }
  }
}
