@charset "utf-8";

@import "bourbon";
@import "neat-helpers";

// Mobile first
$max-width: em(813);
$grid-columns: 4;
$desktop: new-breakpoint(min-width 768px 4);
$mobile: new-breakpoint(max-width 500px 4);

@import "neat";
@import "fonts";
@import "reset";

$sans: 'Helvetica Neue', helvetica, arial, sans;
$serif: 'Computer Modern Serif', 'Palatino', Georgia, Times, serif;

$color-darkblue: #003366;
$color-lightblue: #B4D6E4;
$color-mediumblue: #7F99B3;
$color-white: #fff;
$color-text: #6B6B6B;
$color-pink: #F605C9;

html {
  background: $color-darkblue;
  font-family: $sans;
}

body {
  text-rendering: optimizeLegibility;
}

#main {
  color: $color-white;
}

#articleContainer {
  @include outer-container;
  section {
    @include span-columns(4);
  }
}

#articleContainer > .articleTagline {
  padding: 2em;
  text-align: center;
  font-family: $serif;
  font-style: italic;
  font-size: 1.1em;
  display: none;
  @include media($desktop) {
    display: block;
  }
}

// ========
// Masthead
// ========

.articleMasthead {
  background: $color-lightblue;
  text-align: center;
}

.articleMastheadContent {
  padding: 2em;
  text-align: center;
}

.mastheadRow {
  display: flex;
  justify-content: space-between;
}

.mastheadRow.top {
  padding-bottom: 3em;
}

.mastheadRow.bottom {
  padding-top: 3em;
}

.imgPwlLogo {
  width: 207px;
}

.imgPwlConfLogo {
  margin-left: 6px;
  @include media($desktop) {
    margin-left: 0;
  }
}

.cornerTopLeft {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.cornerBottomLeft {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.cornerBottomRight {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}


.mastheadCity,
.mastheadState {
  color: $color-mediumblue;
  font-size: 1.2em;
  text-transform: uppercase;
}

.mastheadCity {
  position: relative;
  top: 200px;
  left: 110px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  display: none;
  @include media($desktop) {
    display: inline-block;
  }
}

.mastheadState {
  position: relative;
  top: 110px;
  right: 20px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: none;
  @include media($desktop) {
    display: inline-block;
  }
}

.mastheadDates {
  color: $color-darkblue;
  font-size: 1.5em;
  padding-bottom: 1.5em;
}

// ============
// Text Content
// ============

.articleTextContent {
  background: $color-white;
  color: $color-text;
  padding: 2em;
  @include media($desktop) {
    padding: 2em 5em;
  }

  h1 {
    color: $color-darkblue;
    font-weight: normal;
    font-size: 2.5em;
    margin: 1em 0 1em 0;
  }

  h2 {
    color: $color-mediumblue;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin: 0.5em 0 0 0;
    @include media($desktop) {
      margin: 1em 0 2em 0;
    }
  }

  h3 {
    font-weight: normal;
    color: $color-darkblue;
    margin-top: 2em;
  }

  p {
    line-height: 140%;
    margin: 1em 0;
  }

  a {
    color: $color-darkblue;
    &:hover {
      color: $color-pink;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-left: 1em;
      margin-bottom: 1em;
      line-height: 140%;
    }
  }
}

// ============
// Photo Content
// ============

.articlePhotoContent {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    passing: 0;
  }

  .photoCaption {
    display: inline-block;
    position: absolute;
    margin-bottom: 0;
    margin-top: -5em;
    margin-left: 2em;
    color: $color-white;
    font-family: $serif;
    text-shadow: 0 1px 1px rgba($color-darkblue, .5);

    h3 {
      font-size: 1.1em;
    }

    a {
      font-size: 1em;
      color: $color-white;
      &:hover {
        background: $color-pink;
        text-decoration: none;
        text-shadow: none;
      }
    }

    @include media($desktop) {
      margin-top: -5em;
      margin-left: 5em;
      h3 {
        font-size: 1.2em;
      }
      a {
        font-size: 1.1em;
      }
    }
  }

  .photoCaption.map {
    margin-top: -2.5em;
    @include media($desktop) {
      margin-top: -4em;
    }
  }
}

// ===============
// Footer Content
// ===============

.articleFooterContent {
  background: $color-white;
  border-top: $color-mediumblue 1px solid;
}

.footerRow {
  padding: 2em;
  text-align: center;

  h2 {
    font-weight: normal;
    font-size: 1.1em;
    text-transform: uppercase;
    color: $color-mediumblue;
    margin: 0 0 .6em 0;
  }

  a {
    font-size: 1em;
    color: $color-darkblue;
    &:hover {
      color: $color-pink;
    }
  }

  .footerItem {
    margin-bottom: 2em;
  }

  @include media($desktop) {
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;

    .footerItem {
      margin-bottom: 1em;
    }
  }
}


// ===========
// Nav Content
// ===========

.articleNavigation {
  background: $color-lightblue;
  padding: 2em;
  @include media($desktop) {
    padding: 2em 5em;
  }
}

.navRow {
  display: flex;
  justify-content: space-between;
}

.navLink {
  text-decoration: none;
  color: $color-darkblue;
    &:hover {
      color: $color-pink;
      text-decoration: underline;
    }
  display: inline-block;
  padding-top: 30px;
}

.imgPwlConfNavLogo {
  height: 80px;
}
