@charset "utf-8";

@import "bourbon";
@import "neat-helpers";

// Mobile first
$grid-columns: 4;
$desktop: new-breakpoint(min-width 768px 4);
$desktop-banner: new-breakpoint(min-width 1137px 4);

@import "neat";

// Colors
$blue: #036;
$blue-link: lighten($blue, 30);
$gray-1: #333;
$gray-2: #666;
$gray-3: #999;
$gray-4: #ccc;
$gray-5: #eee;

// Font stacks
@import "fonts";

$serif:  'Computer Modern Serif', 'Palatino', Georgia, Times, serif;
$sans: 'Computer Modern Sans', 'Gill Sans', Verdana, sans;

// Base styles
@import "base";
@import "home";
@import "article";
@import "tags";
@import "chapters";
@import "banner";
