@charset "utf-8";

@import "bourbon";
@import "neat-helpers";

// Mobile first
$grid-columns: 4;
$desktop: new-breakpoint(min-width 768px 4);

@import "neat";

// Colors
$blue: #036;
$blue-link: lighten($blue, 30);

// Font stacks
@import "fonts";

$serif:  'Computer Modern Serif', 'Palatino', Georgia, Times, serif;
$sans: 'Computer Modern Sans', 'Gill Sans', Verdana, sans;

// Base styles
@import "base";
@import "home";
@import "article";
@import "tags";
@import "chapters";
