<div class="entry-meta">
    <% link_to @art.data.label_url, :class => "meta-label" do %>
        <i class="fa fa-bullhorn"></i> <%= @art.data.label %>
    <% end %>
    <div class="meta-text"><span class="meta-presenter"><strong>Posted by:</strong> <%= @art.data.author %></span> |
    <span class="meta-date" pubdate itemprop="datePublished"><%= @art.date.strftime('%b %e, %Y') %></span></div>
</div>
