---
title: Local Chapters
---
<%
chapter_weights = weight_chapters(data)
%>
<article class="chapter">
  <section class="chapters chapter-index">
    <h1>Papers We Love Chapters</h1>
    <p>Join the community by finding a chapter near you, or maybe start your own!</p>
    <ul class="chapter-index-list">
      <% chapter_weights.reject {|i| i.nil? }.sort_by! {|i| i[:weight]}.reverse().each do |chapter| %>
        <li><%= link_to chapter[:title], "/chapter/#{chapter[:id]}", :title => chapter[:title] %></li>
      <% end %>
    </ul>
  </section>
</article>
